body {
	background-color: rgba(130,211,110,0.2);
	margin: 0;
	font-family:  Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, Heiti, “黑体”, sans-serif;

/*	min-width: 400px; 交互式后从400px开始变为横向*/
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}


/*======================================================*/
/*header:*/

.header {
	width: 100%;
	height: 50px;
	background-color: rgba(10,10,10,0.7);
	margin-bottom: 15px;
}

.header p {
	color: rgba(255,255,255,0.8);
	padding: 21px 10px;
	white-space: nowrap;
	float: left;
}

.header a {
	color: rgba(255,255,255,0.8);
	font-weight: bold;
	cursor: pointer;
}

.header a:hover {
	color: white;
	text-shadow: 0 0 5px white;
}


.header img {
	float: left;
	width: 35px;
	height: 35px;
	margin: 7.5px 5px;
}

.header img:hover {
	box-shadow: 0 0 4px white;
}

/*======================================================*/
/*列块们：*/


/*每一个列块：*/

.cols {
	border: 1px solid;
	float: left;
	width: 23%;
	margin-left: 1.5%;
	min-height: 70px;
	border-radius: 6px;	

	min-width: 93px;
}

h2 {
	width: 100%;
	font-size: 1.3em;
	text-align: center;
	margin-top: 10px;
	color: white;
}



/*每一个任务块：*/

.task {
	background-color: rgba(250,250,250,0.6);
	width: 96%;
	margin: 5% 2%;
	border-radius: 6px;
	font-size: 0.95em;
	padding-bottom: 21px;
}

.task:hover {
	background-color: rgba(250,250,250,0.7);
	box-shadow: 0 0 5px white;
}

.title {
	font-weight: bold;
	font-size: 1.1em;
}

.time {
	font-style: italic;
	font-size: 0.9em;
}

/*互动按钮：*/
.buttonArea {
	width: 100%;
}

.interact {
	width: 15px;
	height: 15px;
	margin: 3px;
	transition: 0.1s;
	float: right;
}

.interact:hover{
	cursor: pointer;
	transform: scale(1.3);
}


/*每一条内容：*/
.items {
	margin: 1px 3px;
	line-height: 1.4em;
	word-break: break-word;
}

/*底下的统计：*/
.count {
	font-size: 0.9em;
	text-align: right;
	margin: 1px 3px;
}

/*------------------------------------------*/
/*第一个列块 id = a*/

#a {
	border: 0;
	background-color: rgba(240,130,130,0.9);
	box-shadow: 3px 3px 3px rgba(200,50,50,0.6);
}

#a h2 {
	text-shadow: 0 0 2px red;
}

/*第二个列块 id = b*/

#b {
	border: 0;
	background-color: rgba(230,231,130,0.9);
	box-shadow: 3px 3px 3px rgba(200,200,50,0.6);
}

#b h2 {
	text-shadow: 0 0 2px rgb(185,185,0);
}

/*第三个列块 id = c*/

#c {
	border: 0;
	background-color: rgba(180,250,180,0.9);
	box-shadow: 3px 3px 3px rgba(80,200,80,0.6);
}

#c h2 {
	text-shadow: 0 0 1px green;
}

/*第四个列块 id = d*/

#d {
	border: 0;
	background-color: rgba(180,200,250,0.9);
	box-shadow: 3px 3px 3px rgba(70,90,210,0.6);
	padding-bottom: 5px;
}

#d h2 {
	text-shadow: 0 0 1px blue;
}

/*表单：*/

#add {
	margin: 2.5%;
}

#add fieldset {
	border: 1px grey solid;
	padding: 0 3px 3px 3px;
}

.inputer {
	width: 100%;
	margin-top: 3px;
	height: 1.7em;
	font-size: 0.8em;
	border-radius: 2px;
	box-shadow: 0 0 2px rgba(50,50,250,0.7);
}

textarea.inputer {
	min-height: 90px;
	overflow: auto;
	resize: none;
	font-family:  Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, Heiti, “黑体”, sans-serif;
}

.addButtons {
	background-color: rgba(250,250,250,0.5);
	width: 100%;
	border-radius: 2px;
	box-shadow: 0 0 2px rgba(70,90,210,0.6);
	margin-top: 5px;
}

.addButtons:hover {
	box-shadow: 0 0 4px blue;
}

/*下部元素：*/

#clearButton {
	background-color: rgba(250,250,250,0.5);
	width: 95%;
	border-radius: 2px;
	box-shadow: 0 0 2px rgba(70,90,210,0.6);
	margin: 8px 2.5%;
}

#clearButton:hover {
	background-color: rgba(250,100,100,0.7);
	box-shadow: 0 0 4px red;
}


/*删除框：*/
#delete {
	width: 93%;
	height: 50px;
	border: 3px orange dashed;
	margin: 0 auto;
	text-align: center;
	display: none;
}



/*-----------------------------------------*/
