body {
	background-color: rgba(130,211,110,0.2);
	margin: 0;
	font-family:  Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, Heiti, “黑体”, sans-serif;

/*	min-width: 400px; 交互式后从400px开始变为横向*/
}

* {
	margin: 0;
	padding: 0;
}


/*======================================================*/
/*header:*/

.header {
	width: 100%;
	height: 50px;
	background-color: rgba(10,10,10,0.7);
	margin-bottom: 15px;
}

.header a {
	padding: 21px 10px;
	white-space: nowrap;
	float: left;
	color: rgba(255,255,255,0.8);
	font-weight: bold;
	cursor: pointer;
}

.header a:hover {
	color: white;
	text-shadow: 0 0 5px white;
}

/*------------------------------------------------------*/
/*main:*/

/*表单：*/
form {
	width: 35%;
	min-width: 380px;
	margin: 0 auto;
}

fieldset {
	padding: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(100,100,100,0.8)
}

table {
	width: 98%;
}

.L {
	width: 30%;
}

.R {
	width: 70%;
}

input {
	width: 100%;
}

.buttons {
	width: 20%;
	margin-left: 
}