<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../img/logo.ico">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/jquery-ui.css">
	<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery-ui.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
	<title>我的便利贴</title>
</head>

<!-- ==================================================== -->

<body>
	<div class="header">
		<p>亲~ 您可以 <a href="signIn.html">登录</a> 或 <a href="signUp.html">注册</a> 哦~~</p>
		<!-- <a href="#"><img src="../img/head.png"></a>
		<p>欢迎你，<a href="#">userA</a></p> -->
	</div>

	<div class="cols" id="a">
		<h2>还没做的~</h2>
		<div class="tasks">

		</div>
		<p class="count" id="todo-task-count">——</p>
	</div>


	<div class="cols" id="b">
		<h2>正在做的~</h2>
		<div class="tasks">

		</div>
		<p class="count" id="doing-task-count">—— </p>
	</div>


	<div class="cols" id="c">
		<h2>做完了的~</h2>
		<div class="tasks">

		</div>
		 <p class="count" id="done-task-count">——</p>
	</div>


	<div class="cols" id="d">
		<h2>管理一下~</h2>
		<form id="add">
			<fieldset>
				<legend>添加新任务：</legend>
				<input class="inputer" name="title" placeholder="题目" maxlength="100">
				<input class="inputer" name="time" placeholder="截止日期(月/日/年)" id="timeInputer">
				<textarea class="inputer" placeholder="内容"></textarea>
				<input class="addButtons" value="我确定要添加!" type="button" onclick="addNewTask('a')">
				<input class="addButtons" value="我要重新输入~" type="reset">
			</fieldset>
		</form>
		<button id="clearButton" onclick="clearAll()">清空全部任务</button>
		<!-- <div id="delete">拖入此处删除~</div> -->
	</div>

	<div id="foo"></div>
</body>

<!-- ======================================================= -->

<script type="text/javascript">
	$("body").on(initTasks())

	$(document).ready(function(){
		$(".tasks").sortable();
	});

	$(".cols").ready(
		counter("a"),
		counter("b"),
		counter("c")
	);

	$("#timeInputer").datepicker();

	$("body").on('click',".trash",function(){
		deleteTask($(this).parent().attr("id"),$(this).parent().parent().parent().attr("id"));
	});

	$("body").on('click',".next",function(){
		nextStage($(this).parent().attr("id"),$(this).parent().parent().parent().attr("id"));
	});

	$("body").on('click',".previous",function(){
		previousStage($(this).parent().attr("id"),$(this).parent().parent().parent().attr("id"));
	});

	// $(".task").draggable({
	// 	opacity:0.5,
	// 	start:function(){
	// 		$("#delete").show("fast");
	// 	},
	// 	stop:function(){
	// 		$("#delete").hide("fast");
	// 	}
	// });

	
</script>

</html>